html {
  overflow: hidden;
}

html * {
  margin: 0;
}

.body {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: red;
  transition: 0.3s ease;
  overflow-x: hidden;
  font-size: 40vh;
}

.num {
  width: 1em;
  height: 1em;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}

.body.active {
  background: greenyellow;
  visibility: visible;
}

.body.active .num {
  display: block;
}
